body {
  background-color: rgb(36, 36, 36);
  font-family: Circular, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
             'Helvetica Neue', Arial, sans-serif;
  overflow: hidden;
}

* {
  transition: all 0.3s ease-in;
}

.content {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.view-point {
  display: flex;
  width: 700vw;
  position: absolute;
}

.section {
  width: 100vw;
  height: 100vh;
}

.sec-1 {background-color: #ffebee;}
.sec-2 {background-color: #fff3e0;}
.sec-3 {background-color: #e8f5e9;}
.sec-4 {background-color: #f3e5f5;;}
.sec-5 {background-color: #e3f2fd;}
.sec-6 {background-color: #fff8e1;}
.sec-7 {background-color: #f1f8e9;}