body {
  background-color: rgb(36, 36, 36);
  font-family: Circular, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
             'Helvetica Neue', Arial, sans-serif;
  overflow: hidden;
}

* {
  transition: all 0.3s;
}

.vid-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -100;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f1faee;
  background-color: rgba(36, 36, 36, 0.7);
  padding: 100px 50px;
  border-radius: 22px;
  font-size: 50px;
  width: 1300px;
}

.content {
  background-color: rgb(36, 36, 36);
  width: 100%;
  height: 110%;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: none;
  display: none;
}


@keyframes slideOut {
  from {transform: translate(-50%, -50%);}
  to {transform: translate(-50%, 50%);}
}

@keyframes slideIn {
  from {transform: translate(-50%, 50%);}
  to {transform: translate(-50%, -50%);}
}