body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
             'Helvetica Neue', Arial, sans-serif;
  background-color: #f1faee;
  
}

.background {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.title {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  padding-top: 100vh;
  display: flex;
  justify-content: center;
  z-index: 100;
  flex-direction: column;
}

.pic {
  width: 900px;
  height: 400px;
  border-radius: 30px;
}

.start {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section {
  font-size: 25px;
  font-weight: bold;
  box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
}

.section-1 {
  background-color: rgba(230, 57, 70, 0.2);
  display: grid;
  grid-template-columns: 300px 300px;
  gap: 100px;
  padding: 30px 100px;
}

.section-2 {
  width: 840px;
  padding: 30px;
  background-color: rgba(168, 218, 220, 0.2);
  
}

.transfer {
  margin: 500px;
  white-space: nowrap;
  position: relative;
}

.transfer h1 {
  text-align: center;
}

.blank {
  opacity: 0;
  pointer-events: none;
}